    name: CI workflow

    on:
      push:
        branches: [main]
      pull_request:
        branches: [main]
    
    jobs:
      build:
        runs-on: ubuntu-latest
        container: python:3.9-slim
        
        steps:
          - name: Checkout
            uses: actions/checkout@v3
          
          - name: Install dependencies 
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
              pip install nose rednose coverage

          - name: Lint with flake8
            run: |
              # Lint entire repo, allow longer lines
              flake8 --max-line-length=127 
              
              #Lint service folder, check critical errors only
              flake8 service --count --select=E9,F63,F7,F82 --show-source --statistics --max-line-length=127
              
              #Lint service folder, check complecity and Line Length 
              flake8 service --count --max-complexity=10 --max-line-length=127 --statistics

          - name: Run unit tests with nose
            run: |
              nosetests -v --with-coverage --cover-package=service --with-rednose
